@import "../variables";
@import "../mixin";
@import "../buttons/buttons";

/*===========================
    contact-01 css 
===========================*/

.contact-area {
  padding-top: 50px;
  padding-bottom: 100px;

  .mt-15 {
    margin-top: 15px;
  }

  & .section-title {
    & .title {
      font-size: 28px;
      font-weight: 600;
      line-height: 55px;

      @media #{$xs} {
        font-size: 24px;
        line-height: 35px;
      }
    }
  }
}

.contact-form {
  & .single-form {
    & label {
      font-size: 12px;
      color: var(--dark-2);
      line-height: 18px;
      margin-left: 44px;
    }

    & .input-form {
      position: relative;

      & i {
        font-size: 24px;
        position: absolute;
        top: 10px;
        left: 10px;
        color: var(--dark-3);
      }

      & textarea,
      & input {
        width: 100%;
        height: 44px;
        padding-left: 45px;
        padding-right: 30px;
        color: var(--dark-3);
        font-size: 16px;
        border: 0;
        border-bottom: 1px solid var(--gray-4);
        font-weight: 500;

        @include placeholder {
          opacity: 1;
          color: var(--dark-3);
        }
      }

      & textarea {
        padding-top: 10px;
      }

      & .primary-btn {
        @extend %primary-btn;
      }
    }
  }
}

.form-input {
  .help-block {
    margin-top: 2px;

    & .list-unstyled {
      & li {
        font-size: 12px;
        line-height: 16px;
        color: var(--error);
      }
    }
  }

  & label {
    font-size: 12px;
    line-height: 18px;
    color: var(--dark-3);
    margin-bottom: 8px;
    display: inline-block;
  }

  & .input-items {
    position: relative;

    & input,
    & textarea {
      width: 100%;
      height: 44px;
      border: 2px solid;
      padding-left: 44px;
      padding-right: 12px;
      position: relative;
      font-size: 16px;
    }

    & textarea {
      padding-top: 8px;
      height: 130px;
      resize: none;
    }

    & i {
      position: absolute;
      top: 11px;
      left: 13px;
      font-size: 20px;
      z-index: 9;
    }

    &.default {

      & input,
      & textarea {
        border-color: var(--gray-4);
        color: var(--dark-3);

        &:focus {
          border-color: var(--primary);
        }

        @include placeholder {
          color: var(--dark-3);
          opacity: 1;
        }
      }

      & i {
        color: var(--dark-3);
      }
    }

    &.active {

      & input,
      & textarea {
        border-color: var(--primary-dark);
        color: var(--black);

        @include placeholder {
          color: var(--black);
          opacity: 1;
        }
      }

      & i {
        color: var(--primary-dark);
      }
    }

    &.error {

      & input,
      & textarea {
        border-color: var(--error);
        color: var(--error);

        @include placeholder {
          color: var(--error);
          opacity: 1;
        }
      }

      & i {
        color: var(--error);
      }
    }

    &.success {

      & input,
      & textarea {
        border-color: var(--success);
        color: var(--success);

        @include placeholder {
          color: var(--success);
          opacity: 1;
        }
      }

      & i {
        color: var(--success);
      }
    }

    &.disabled {

      & input,
      & textarea {
        border-color: var(--dark-2);
        color: var(--dark-3);
        background: none;

        @include placeholder {
          color: var(--dark-3);
          opacity: 1;
        }
      }

      & i {
        color: var(--dark-3);
      }
    }
  }
}

.form-style-four {
  & .form-input {
    & label {
      padding-left: 44px;
      margin-bottom: 0;
    }

    & .input-items {

      & input,
      & textarea {
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
    }
  }
}

.contact-info {
  & ul {
    & li {
      & .single-info {
        position: relative;
        margin-top: 19px;

        & .info-icon {
          position: absolute;
          top: 0;
          left: 0;

          & i {
            color: var(--dark-3);
            font-size: 18px;
            line-height: 24px;
          }
        }

        & .info-content {
          padding-left: 30px;

          & .text {
            font-size: 16px;
            line-height: 24px;
            color: var(--dark-3);
            font-weight: 500;
          }
        }
      }
    }
  }

  & .social {
    & li {
      display: inline-block;
      margin-right: 12px;

      & a {
        font-size: 20px;
        height: 40px;
        width: 40px;
        line-height: 38px;
        border: 1px solid rgba(0, 0, 0, 0.096);
        text-align: center;
        border-radius: 5px;
        color: var(--dark-3);
        @include transition(0.3s);

        &:hover {
          color: var(--white);
          background-color: var(--primary);
          border-color: transparent;
        }
      }
    }
  }
}