@import "../variables";
@import "../mixin";

/*===========================
  Features Two CSS 
===========================*/

.features-two {
  background-color: var(--light-2);
  padding-top: 120px;
  padding-bottom: 120px;

  & .section-title {
    padding-bottom: 10px;
  }

  & .title {
    font-size: 44px;
    font-weight: 600;
    color: var(--black);
    line-height: 55px;

    @media #{$xs} {
      font-size: 30px;
      line-height: 35px;
    }
  }

  & .text {
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-3);
    margin-top: 24px;
  }
}

.features-style-two {
  padding: 40px 20px 52px;
  background-color: var(--white);
  margin-top: 40px;
  transition: all 0.3s;
  box-shadow: var(--shadow-2);
  border-radius: 4px;

  &:hover {
    box-shadow: var(--shadow-4);
  }

  & .features-title {
    font-size: 36px;
    line-height: 45px;
    color: var(--black);
    font-weight: 400;

    @media #{$lg, $xs} {
      font-size: 24px;
      line-height: 35px;
    }

    @media #{$sm} {
      font-size: 36px;
      line-height: 45px;
    }
  }

  & .features-icon {
    position: relative;
    z-index: 1;
    display: inline-block;

    & i {
      font-size: 60px;
      line-height: 70px;
      color: var(--primary);
    }

    & .shape {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  & .text {
    color: var(--dark-3);
    margin-top: 16px;
  }

  & .features-btn {
    color: var(--primary);
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin-top: 30px;
  }
}