@import "../variables";
@import "../mixin";

/*============================
  Section Title Seven CSS
==============================*/

.section-title-seven {
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    z-index: 5;

    @media #{$md} {
        margin-bottom: 45px;
    }

    @media #{$xs} {
        margin-bottom: 35px;
    }

    span {
        text-transform: uppercase;
        color: var(--primary);
        display: inline-block;
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: 600;
    }

    h5 {
        font-weight: 600;
        margin-bottom: 7px;
        color: var(--primary);
        text-transform: uppercase;
        font-size: 1rem;

        @media #{$xs} {
            font-size: 0.8rem;
        }
    }

    h2 {
        margin-bottom: 18px;
        position: relative;
        padding-bottom: 15px;

        &::before {
            position: absolute;
            content: "";
            left: 50%;
            @include transform(translateX(-50%));
            bottom: 0;
            height: 3px;
            width: 50px;
            background-color: var(--primary);
        }

        @media #{$md} {
            font-size: 2rem;
            line-height: 2.8rem;
        }

        @media #{$xs} {
            font-size: 1.5rem;
            line-height: 1.9rem;
        }
    }

    p {
        color: var(--dark-3);
    }
}