@import "../variables";
@import "../mixin";

/*============================
  Section Title Three CSS
==============================*/

.section-title-three {
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    z-index: 5;

    @media #{$md} {
        margin-bottom: 45px;
    }

    @media #{$xs} {
        margin-bottom: 35px;
    }

    h5 {
        font-weight: 600;
        margin-bottom: 7px;
        color: var(--primary);
        text-transform: uppercase;
        font-size: 1rem;

        @media #{$xs} {
            font-size: 0.8rem;
        }
    }

    h2 {
        margin-bottom: 15px;

        @media #{$md} {
            font-size: 2rem;
            line-height: 2.8rem;
        }

        @media #{$xs} {
            font-size: 1.5rem;
            line-height: 1.9rem;
        }
    }

    p {
        color: var(--dark-3);
    }
}