@import "../variables";
@import "../mixin";

/*===========================
  Section Title Five CSS
===========================*/
.section-title-five {
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    z-index: 5;
    margin-top: 12px;

    @media #{$md} {
        margin-bottom: 45px;
    }

    @media #{$xs} {
        margin-bottom: 35px;
    }

    h6 {
        font-weight: 600;
        display: inline-block;
        margin-bottom: 15px;
        color: var(--primary);
        border: 2px solid var(--primary);
        border-radius: 30px;
        padding: 8px 30px;
    }

    h2 {
        margin-bottom: 15px;

        @media #{$md} {
            font-size: 2rem;
            line-height: 2.8rem;
        }

        @media #{$xs} {
            font-size: 1.5rem;
            line-height: 1.9rem;
        }
    }

    p {
        color: var(--dark-3);
    }
}