@import "../variables";
@import "../mixin";

/*===========================
  Section Title One CSS
===========================*/

.section-title-one {
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    z-index: 5;

    @media #{$md} {
        margin-bottom: 45px;
    }

    @media #{$xs} {
        margin-bottom: 35px;
    }

    h2 {
        margin-bottom: 15px;

        @media #{$md} {
            font-size: 2rem;
            line-height: 2.8rem;
        }

        @media #{$xs} {
            font-size: 1.5rem;
            line-height: 1.9rem;
        }
    }
}