@import "../variables";
@import "../mixin";

/*===========================
  services css 
===========================*/

.services-two {
  position: relative;
  background-color: var(--light-2);
  padding: 100px 0;

  /* Section Title Six */
  .section-title-six {
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    z-index: 5;

    @media #{$md} {
      margin-bottom: 45px;
    }

    @media #{$xs} {
      margin-bottom: 35px;
    }

    h3 {
      font-size: 16px;
      font-weight: 600;
      display: inline-block;
      margin-bottom: 20px;
      color: var(--primary);
      text-transform: capitalize;
      position: relative;
      line-height: 14px;

      @media #{$md} {
        font-size: 15px;
        margin-bottom: 16px
      }

      @media #{$xs} {
        font-size: 15px;
        margin-bottom: 14px
      }

      &::before {
        position: absolute;
        content: "";
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
        height: 2px;
        width: 15px;
        background-color: var(--primary);
        border-radius: 8px;
      }

      &::after {
        position: absolute;
        content: "";
        right: -25px;
        top: 50%;
        transform: translateY(-50%);
        height: 2px;
        width: 15px;
        background-color: var(--primary);
        border-radius: 8px;
      }
    }

    h2 {
      margin-bottom: 15px;

      @media #{$md} {
        font-size: 2rem;
        line-height: 2.8rem;
      }

      @media #{$xs} {
        font-size: 1.5rem;
        line-height: 1.9rem;
      }
    }

    p {
      color: var(--dark-3);
    }
  }

  .single-service {
    padding: 35px;
    border-radius: 8px;
    box-shadow: var(--shadow-2);
    background-color: var(--white);
    margin-top: 30px;
    position: relative;
    @include transition(0.4s);
    overflow: hidden;
    z-index: 2;

    .shape {
      position: absolute;
      left: -30px;
      top: -17px;
      height: 60px;
      width: auto;
      @include transition(0.4s);
    }

    .shape2 {
      position: absolute;
      right: -30px;
      bottom: -17px;
      height: 60px;
      width: auto;
      @include transition(0.4s);
    }

    &:hover {
      .shape {
        left: 0;
      }

      .shape2 {
        right: 0;
      }
    }

    &:hover {
      box-shadow: var(--shadow-4);
    }

    .serial {
      font-size: 50px;
      font-weight: 700;
      color: #f4f4f4;
      position: absolute;
      right: 25px;
      top: 18px;
      z-index: -1;
    }

    .service-icon {
      height: 65px;
      width: 65px;
      line-height: 65px;
      border-radius: 8px;
      color: var(--white);
      background-color: var(--primary);
      text-align: center;
      @include transition(0.4s);
      font-size: 30px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover {
      .service-icon {
        background-color: var(--primary);
        box-shadow: var(--shadow-4);
      }
    }

    h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    a {
      color: var(--primary);
      margin-top: 40px;
      display: inline-block;
      font-weight: 500;
      font-size: 15px;

      i {
        font-size: 22px;
        margin-left: 12px;
        position: relative;
        top: 3px;
      }

      &:hover {
        letter-spacing: 1px;
      }
    }
  }
}