/* ===== Buttons Css ===== */
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn {
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--shadow-2);
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .active.primary-btn, .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn:hover, .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn:focus {
  background: var(--primary-dark);
  color: var(--white);
  box-shadow: var(--shadow-4);
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .deactive.primary-btn {
  background: var(--gray-4);
  color: var(--dark-3);
  pointer-events: none;
}

.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline {
  border-color: var(--primary);
  color: var(--primary);
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .active.primary-btn-outline, .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline:hover, .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline:focus {
  background: var(--primary-dark);
  color: var(--white);
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .deactive.primary-btn-outline {
  color: var(--dark-3);
  border-color: var(--gray-4);
  pointer-events: none;
}

/*===== SLIDER ONE =====*/
.slider-one .bd-example .carousel .carousel-inner {
  background-color: var(--primary);
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item {
  height: auto;
  padding: 300px 0;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-one .bd-example .carousel .carousel-inner .carousel-item {
    padding: 200px 0;
  }
}
@media (max-width: 767px) {
  .slider-one .bd-example .carousel .carousel-inner .carousel-item {
    padding: 150px 0;
  }
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  opacity: 0.8;
}
@media (max-width: 767px) {
  .slider-one .bd-example .carousel .carousel-inner .carousel-item {
    height: 400px;
  }
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption {
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  left: 0;
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
  font-size: 44px;
  font-weight: 700;
  color: var(--white);
  line-height: 55px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
    font-size: 35px;
    line-height: 42px;
  }
}
@media (max-width: 767px) {
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
    font-size: 24px;
    line-height: 32px;
  }
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .text {
  color: var(--white);
  display: block;
  margin: 20px 0;
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li {
  display: inline-block;
  margin: 16px 8px 0;
}
@media (max-width: 767px) {
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li {
    margin: 16px 3px 0;
  }
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid transparent;
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn:hover {
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline {
  border-color: var(--white);
  color: var(--white);
}
.slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline:hover {
  border-color: transparent;
  background-color: var(--white);
  color: var(--primary);
}
.slider-one .bd-example .carousel .carousel-control-prev, .slider-one .bd-example .carousel .carousel-control-next {
  top: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border: 1px solid var(--white);
  font-size: 20px;
  color: var(--white);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: auto;
  left: 30px;
  opacity: 1;
  z-index: 99;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.slider-one .bd-example .carousel .carousel-control-prev:hover, .slider-one .bd-example .carousel .carousel-control-next:hover {
  background-color: var(--white);
  color: var(--primary);
  border-color: transparent;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-one .bd-example .carousel .carousel-control-prev, .slider-one .bd-example .carousel .carousel-control-next {
    left: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-one .bd-example .carousel .carousel-control-prev, .slider-one .bd-example .carousel .carousel-control-next {
    left: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .slider-one .bd-example .carousel .carousel-control-prev, .slider-one .bd-example .carousel .carousel-control-next {
    left: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.slider-one .bd-example .carousel .carousel-control-next {
  right: 30px;
  left: auto;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-one .bd-example .carousel .carousel-control-next {
    right: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-one .bd-example .carousel .carousel-control-next {
    right: 40px;
  }
}
@media (max-width: 767px) {
  .slider-one .bd-example .carousel .carousel-control-next {
    right: 20px;
  }
}
.slider-one .bd-example .carousel .carousel-indicators {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-one .bd-example .carousel .carousel-indicators {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .slider-one .bd-example .carousel .carousel-indicators {
    margin-bottom: 30px;
  }
}
.slider-one .bd-example .carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border-radius: 50px;
  border: 0;
  margin: 0px 5px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.slider-one .bd-example .carousel .carousel-indicators li.active {
  width: 20px;
  background-color: var(--white);
  border-radius: 5px;
}
.slider-one .bd-example .carousel .carousel-indicators li:hover {
  opacity: 1;
}

/*# sourceMappingURL=slider-01.css.map */
