@import "../variables";
@import "../mixin";
@import "../buttons/buttons";

/*===== SLIDER TWO =====*/

.slider-area {
  &.slider-two {
    background-color: var(--light-2);
    position: relative;

    & .slider-content {
      padding-top: 232px;
      padding-bottom: 232px;
      max-width: 560px;
      width: 100%;
      margin: 0 auto;

      @media #{$xs} {
        padding-top: 132px;
        padding-bottom: 132px;
      }

      & .slider-title {
        font-size: 44px;
        line-height: 55px;
        color: var(--black);
        padding: 0 5px;

        @media #{$xs} {
          font-size: 24px;
          line-height: 32px;
        }
      }

      & .text {
        color: var(--dark-3);
        margin-top: 16px;
      }

      & .slider-btn {
        margin-top: 14px;

        & li {
          display: inline-block;
          margin: 10px 8px 0;

          @media #{$xs} {
            margin: 10px 3px 0;
          }

          .primary-btn {
            @extend %primary-btn;
          }

          .primary-btn-outline {
            @extend %primary-btn-outline;
          }
        }
      }
    }

    & .carousel {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;

      @media #{$md} {
        position: relative;
        height: 700px;
        width: 100%;
      }

      @media #{$xs} {
        position: relative;
        height: 400px;
        width: 100%;
      }

      & .carousel-inner {
        width: 100%;
        height: 100%;

        & .carousel-item {
          width: 100%;
          height: 100%;
        }
      }

      & .carousel-control-prev,
      & .carousel-control-next {
        top: 30%;
        width: auto;
        height: auto;
        font-size: 32px;
        color: var(--white);
        bottom: auto;
        left: 8px;
        right: auto;
        opacity: 1;

        @media #{$xs} {
          font-size: 24px;
        }
      }

      & .carousel-control-next {
        top: auto;
        bottom: 30%;
      }

      & .carousel-indicators {
        display: block;
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        left: 20px;
        bottom: auto;
        margin-left: 0;
        margin-right: 0;

        @media #{$xs} {
          left: 16px;
        }

        & li {
          display: block;
          width: 8px;
          height: 8px;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 50px;
          border: 0;
          margin: 5px 0;

          &.active {
            background-color: var(--white);
            height: 16px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
