@import "../variables";
@import "../mixin";

/*===== VIDEO ONE =====*/

.video-one {
  background-color: var(--light-2);
  padding-top: 120px;
  padding-bottom: 100px;

  .video-title {
    & h5 {
      font-weight: 600;
      color: var(--primary);
    }

    & h2 {
      font-weight: 700;
      color: var(--black);
      margin-top: 10px;
    }

    & .text-lg {
      margin-top: 24px;
      color: var(--dark-3);
    }
  }

  & .video-content {
    position: relative;
    margin-top: 60px;
    border-radius: 8px;
    overflow: hidden;

    img {
      border-radius: 8px;
    }

    & a {
      width: 88px;
      height: 88px;
      line-height: 88px;
      text-align: center;
      border-radius: 50%;
      background-color: var(--primary);
      color: var(--white);
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      @include transition(0.3s);
      padding-left: 3px;

      @media #{$xs} {
        width: 68px;
        height: 68px;
        line-height: 68px;
        font-size: 46px;
      }

      &:hover {
        background-color: var(--white);
        color: var(--primary);
      }
    }
  }
}