@import "../variables";

/*===========================
    clients-01 css 
===========================*/

.client-logo-area {
  .section-title-two {
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    z-index: 5;

    @media #{$md} {
      margin-bottom: 45px;
    }

    @media #{$xs} {
      margin-bottom: 35px;
    }

    span {
      text-transform: capitalize;
      color: var(--white);
      background: var(--primary);
      display: inline-block;
      margin-bottom: 10px;
      padding: 5px 15px;
      border-radius: 4px;
    }

    h2 {
      margin-bottom: 15px;

      @media #{$md} {
        font-size: 2rem;
        line-height: 2.8rem;
      }

      @media #{$xs} {
        font-size: 1.5rem;
        line-height: 1.9rem;
      }
    }

    p {
      color: var(--dark-3);
    }
  }
}

/*===== Client Logo One =====*/

.client-logo-one {
  padding-top: 100px;
  padding-bottom: 100px;

  .single-client {
    margin-top: 30px;
  }
}