@import "../variables";
@import "../mixin";
/*===========================
  about-01 css
===========================*/

.about-one {
  background-color: var(--light-3);
  padding-top: 120px;
  padding-bottom: 120px;

  .about-title {
    margin-bottom: 20px;
  }

  .single-about-items {
    margin-top: 30px;
    padding: 35px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow-2);
    position: relative;
    overflow: hidden;
    @include transition(0.3s);

    &:hover {
      box-shadow: var(--shadow-4);
    }

    &::before {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      height: 80px;
      width: 50px;
      border: 1px solid var(--primary);
      border-radius: 0 0 0 30px;
      right: -1px;
      top: -1px;
      opacity: 0.1;
    }

    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      height: 40px;
      width: 40px;
      border: 1px solid var(--primary);
      border-radius: 50px;
      right: 60px;
      top: 10px;
      opacity: 0.1;
    }

    & .items-icon {
      width: 70px;
      height: 70px;
      line-height: 85px;
      text-align: center;
      border-radius: 10px;
      background-color: var(--white);
      color: var(--primary);
      box-shadow: var(--shadow-2);

      i {
        font-size: 32px;
      }

      @media #{$md} {
        max-width: 90px;
      }

      @media #{$xs} {
        max-width: 80px;
      }
    }

    & .items-content {
      margin-top: 32px;

      @media #{$desktop} {
        padding-right: 45px;
      }

      @media #{$laptop} {
        padding-right: 35px;
      }

      & .items-title {
        color: var(--black);
        margin-bottom: 15px;
        font-weight: 600;
      }

      & .text {
        color: var(--dark-3);
      }
    }
  }
}