@import "../variables";

/*===========================
  about-02 css
===========================*/

.about-two {
  background-color: var(--light-2);
  padding-top: 120px;
  padding-bottom: 120px;

  .section-title {
    text-align: center;
    max-width: 550px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    z-index: 5;

    h2 {
      margin-bottom: 20px;
    }

    p {
      color: var(--dark-3);
    }
  }
}

.single-features-one-items {
  margin-top: 50px;
  padding: 0 35px;

  @media #{$md,$xs} {
    padding: 0;
  }

  & .features-image {
    & img {
      width: 255px;
    }
  }

  & .features-content {
    margin-top: 32px;

    .features-title {
      font-weight: 700;
      margin-bottom: 16px;
    }

    & .text {
      color: var(--dark-3);
    }
  }
}